body{
	font:10px sans-serif
}

.svg{
	padding-top:100px;	
}

.axis path
,.axis line{
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.bar {
	fill: orange;
}

.solidArc:hover{
	opacity:.9;
}

.solidArc{
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	opacity:.8;
}

.x.axis path{
	display:none;
}

.aster-score{
	line-height: 1;
	font-weight: bold;
	font-size: 500%;
}

.d3-tip {
	z-index: 10000;
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(0,0,0,.8);
	color: #fff;
	border-radius: 2px;
}

.d3-tip:after{
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0,0,0,0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

.d3-tip.n:after{
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}

line.path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

line.path.area {
  fill: #e7e7e7;
}

.line.axis {
  shape-rendering: crispEdges;
}

.line.x.axis line {
  stroke: #fff;
}

.line.x.axis .minor {
  stroke-opacity: .5;
}

.line.x.axis path {
  display: none;
}

.line.y.axis line, .line.y.axis path {
  fill: none;
  stroke: #000;
}

.tblContentDiv
{
	overflow:scroll;
	overflow-x:hidden;
}

.tblContent
{
	width:100%;
	font-size:13px;
}

.metricname
{
	text-align: left;
	width: 150px;
}

.responsibleparty
{
	text-align: left;
	vertical-align:middle;
	width: 150px;
	
}

.responsiblepartyimage
{
	width:32px;
	height:32px;
}

.responsiblepartytext
{
	margin-left:32px;
	margin-top:12px;
}

.overallscore
{
	text-align: left;
	width:120px;
}

.trend
{
	text-align: left;
	width: 150px;
}

.trendtext
{
	width:10px;
	float:left;
}

.trendchart
{
	margin-left:15px;
}

.dynamicdot
{
	text-align: center;
	width:80px;
}

.synthesis
{
	text-align: left;
	width:300px;
}

.header
{
	border-bottom: solid;
	border-bottom-width: 1px;
}

.row
{
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: #D3D3D3;
	height: 50px;
}

.bullet
{
	text-align:left;
	width:200px;
}

.metricclass
{
	text-align:left;
	width:100px;
}

.bulletchart
{
	margin-left:50px;
}